@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    overflow: hidden;
    background: rgb(188,143,230);
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,white,white);
}
section.color
{
    position: absolute;
    filter: blur(1000px);
}
section .color:nth-child(1)
{
    top: -350px;
    width: 600px;
    height: 800px;
}
section .color:nth-child(2)
{
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 800px;
}
section .color:nth-child(3)
{
  bottom: 50px;
  right: 100px;
  width: 600px;
  height: 800px; 
}
.box
{
    position: center;
}
.box .square
{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s *vat(--i));
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}
.box .square:nth-child(1)
{
    top: 80px;
    right: 400px;
    width: 80px;
    height: 80px;
    margin-right: 40px;
}
.box .square:nth-child(2)
{
    top: 150px;
    left: 400px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3)
{
    bottom: 150px;
    left: 420px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4)
{
    bottom: 120px;
    right: 440px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(5)
{
    top: 80px;
    left: 460px;
    width: 60px;
    height: 60px;
    margin-left: 180px;
    
}
.container
{
    position: absolute;
    margin-top: -100px;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2
{
    position: relative;
    color:rgb(243, 247, 247);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.form h2::before
{
 content:'';
 position: absolute;
 left: 0;
 bottom: -10px;
 width: 250px;
 height: 4px;
 background:black;
} 
.form .inputbox
{
    width: 100%;
    margin-top: 20px;
}
.form .inputbox input
{
    width: 100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.884);
}
.form .inputbox input::placeholder
{
    color:white;
}
button
{
	height: 40px;
	margin-bottom: 30px;
	margin-left: 100px;
	padding: 2px;
    margin-top: 30px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.884);
    width: 30%;
}
}
.forget
{
    margin-top: 5px;
    font-size: 15px;
}
.forget a
{
    font-size: 15px;

}
h3
{
    margin-left: 260px;
    font-size: 15px;
    margin-top: -20px; 
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.884);
    width: 30%;
}

